<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Hello, I am Shubham Erram developer of this website, This website use service's of mapbox and weather stack.</p>
        <img class="img-potrait" src="images/dev.png"/>
    </div>
    {{>footer}}
</body>
</html>
